ipynb/.ipynb_checkpoints/julia plot test-checkpoint.ipynb
ipynb/.ipynb_checkpoints/python plot test-checkpoint.ipynb
ipynb/python plot test.ipynb
ipynb/julia plot test.ipynb
ipynb/julia plot test.ipynb
